  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th><button routerLink="/addDoctors" class="btn btn-primary" >Add new</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctors; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.lastName }}</td>
        
        <td>
          <button   (click)="deleteDoctor(doctor.id)"          
          class="btn btn-primary">Delete</button> &nbsp;
          <!-- <span routerLink="/update-user/{{doctor.name}}" class="text-primary">Edit</span> -->
        </td>
      </tr>
    </tbody>
  </table>